@charset "UTF-8";
@font-face {
    font-family: proxima-nova;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNovaRegular/ProximaNovaRegular.woff) format("woff"), url(../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf) format("truetype");
}

@font-face {
    font-family: proxima-nova;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNovaBold/ProximaNovaBold.woff) format("woff"), url(../fonts/ProximaNovaBold/ProximaNovaBold.ttf) format("truetype");
}